<div class="container-flex background">
  <div class="loginCard">
    <div class="loginItem">
      <div class="loginForm">
        <div class="formItem cardhead">
          <span class="headline"> Writer 101 </span>
          <span class="subHeadline">
            Where Readers meet their Favourite Writers!
          </span>
        </div>
        <div class="formItem formInputContainer">
          <input type="email" class="form-control" placeholder="Enter email" />
          <input
            type="password"
            class="form-control"
            placeholder="Enter password"
          />
        </div>
        <div class="formItem linksRow">
          <div class="submitRowItem">
            <p class="small" style="margin: 0px;"> 
            <input type="checkbox" checked autocomplete="off" />
            Remember me </p>
          </div>
          <div class="submitRowItem">
            <button class="btn btn-primary" type="submit">
                Login
            </button>
          </div>
        </div>
        <div class="formItem linksRow">
            <div class="submitRowItem">
                <p class="small">
                    <a href="#">
                        Register Now
                    </a>
                </p>
            </div>  
            <div class="submitRowItem">
              <p class="small">
                <a href="#">
                    Forgot password? 
                </a>
            </p>
            </div>
          </div>
        <div class="formItem"></div>
      </div>
    </div>
    <div class="loginItem panelImg"></div>
  </div>
</div>
